:root {
  --font-manrope: 'Manrope', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;

  --white-color: #fff;
  --black-color: #000000;
  --black-color-opc: 0, 0, 0;
  --dark-title-color: #1C1A1E;
  --title-color: #000000;
  --title-color-opc: 0, 0, 0;
  --title-color2: #234F40;
  --title-color2-opc: 35, 79, 64;
  --text-color: #00000099;

  --primary-color1: #CB0000;
  --primary-color1-opc: 203, 0, 0;
  --primary-color2: #FB521E;
  --primary-color2-opc: 251, 82, 30;
  --primary-color3: #8ABC46;
  --primary-color3-opc: 138, 188, 70;
  --primary-color4: #234F40;
  --primary-color4-opc: 35, 79, 64;
  --primary-color5: #233AFF;
  --primary-color5-opc: 35, 58, 255;
  --borders-color: #eee;
}


/* Shop Single page */

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  text-decoration: none;
}

.shop-details-page .product-details-content .price {
  margin: 40px 0 20px 0;
}

.shop-details-page .product-details-content .price bdi {
  color: var(--title-color);
  font-family: var(--font-dmsans);
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}

.shop-details-page .product-details-content .price del {
  color: var(--text-color);
  font-weight: 500;
  float: left;
  margin-right: 20px;
}

.shop-details-page .product-details-content form .quantity {
  display: flex;
  gap: 10px;
}

.shop-details-page .product-details-content form input[type='number']::-webkit-outer-spin-button,
.shop-details-page .product-details-content form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.shop-details-page .product-details-content form input[type=number] {
  -moz-appearance: textfield;
  height: 40px;
  width: 78px;
  border: 1px solid var(--borders-color);
  background-color: transparent;
  color: var(--title-color);
  text-align: center;
  font-family: var(--font-suse);
  font-size: 18px;
  font-weight: 700;
}

.shop-details-page .product-details-content form .quantity button {
  height: 40px;
  width: 40px;
  border: 1px solid var(--borders-color);
  border-radius: 5px;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.35s;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt {
  background-color: unset;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt {
  background-color: transparent;
  border: 1px solid var(--borders-color);
  color: var(--title-color);
  padding: 13px 23px;
  border-radius: 5px;
}

.shop-details-page .product-details-content form .primary-btn3 {
  padding: 13px 23px;
  border-radius: 5px;
  margin-left: 20px;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt:hover {
  background-color: unset;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt:hover {
  background-color: var(--primary-color1);
  border: 1px solid var(--primary-color1);
}

.shop-details-page .product-details-content .product_meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.shop-details-page .product-details-content .product_meta span {
  color: var(--title-color);
  font-family: var(--font-suse);
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
}

.shop-details-page .product-details-content .product_meta .sku {
  line-height: 1;
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 16px;
  font-weight: 500;
}

.shop-details-page .product-details-content .product_meta span a {
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 16px;
  font-weight: 500;
  transition: 0.35s;
  margin-bottom: 0;
}

.shop-details-page .product-details-content .product_meta span a:hover {
  color: var(--primary-color1);
}

.shop-details-page .product-details-content .variations_form table tbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shop-details-page .product-details-content .variations_form table tbody tr {
  display: flex;
  gap: 20px;
}

.shop-details-page .product-details-content .variations_form table tbody tr:first-child .nice-select {
  margin-right: 20px;
}


.shop-page .woocommerce-product-gallery ol {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px !important;
}

.shop-page .woocommerce-tabs {
  padding-top: 70px;
}


.woocommerce .shop-details-page div.product .woocommerce-tabs ul.tabs {
  display: flex;
  border-bottom: 1px solid var(--black-color);
  padding-left: 80px;
  gap: 65px;
}

.woocommerce .shop-details-page div.product .woocommerce-tabs ul.tabs li {
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  border: none;
  background: linear-gradient(to bottom, #222222 0%, #222222 98%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: 0px 3px;
  background-repeat: no-repeat;
  background-position: right 100%;
  transition: background-size 0.75s;
}

.woocommerce .shop-details-page div.product .woocommerce-tabs ul.tabs li.active {
  color: var(--title-color);
  background-size: 100% 3px;
  background-position: 0% 100%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: unset;
  background-color: unset;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
  content: unset;
}

.woocommerce .shop-page div.product .woocommerce-tabs ul.tabs {
  width: 100%;
  line-height: 1;
  border: 1px solid var(--borders-color);
  padding: 14px 20px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.woocommerce .shop-page div.product .woocommerce-tabs ul.tabs li {
  padding: 6px 15px;
  line-height: 1;
  border-radius: 20px;
  background-color: transparent;
  margin-right: 20px;
}

.woocommerce .shop-page div.product .woocommerce-tabs ul.tabs li a {
  padding: 0;
  color: var(--text-color);
  font-family: var(--font-suse);
  font-size: 18px;
  font-weight: 600;
}

.woocommerce .shop-page div.product .woocommerce-tabs ul.tabs li.active {
  background-color: var(--black-color);
}

.woocommerce .shop-page div.product .woocommerce-tabs ul.tabs li.active a {
  color: var(--dark-white-color);
}

.shop-page .woocommerce-tabs .woocommerce-Tabs-panel p {
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 25px;
}

/* Single Product page sidebar CART Widget style */
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: left;
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget li a:last-child img {
  float: left;
  height: 80px;
  width: 80px;
}

.shop-sidebar .widget_shopping_cart_content ul li img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  margin-right: 20px;
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget li {
  position: relative;
  margin-bottom: 10px;
  padding: 0;
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget li a:first-child {
  position: absolute;
  top: 0;
  left: 2px;
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget li a:first-child {
  background-color: #FF2615;
  display: none;
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget li:hover a:first-child {
  display: block;
  color: var(--white-color) !important;
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget a span.quantity {
  display: block;
  color: var(--text-color);
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget li a {
  color: var(--title-color);
  font-family: var(--font-suse);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  transition: 0.5s;
}

.shop-sidebar .widget_shopping_cart_content .product_list_widget li span.quantity {
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.shop-sidebar .widget_shopping_cart_content p strong {
  margin-right: 30px;
}

.shop-sidebar .widget_shopping_cart_content p a {
  display: block;
}

.shop-sidebar .widget_shopping_cart_content p a:first-child {
  color: var(--dark-white-color);
  font-family: var(--font-dmsans);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary-color3);
  padding: 16px 27px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.6s;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 8px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.shop-sidebar .widget_shopping_cart_content p a:last-child {
  color: var(--dark-white-color);
  font-family: var(--font-dmsans);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--black-color);
  padding: 16px 27px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.6s;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.shop-sidebar .single-widgets {
  margin-bottom: 20px;
}

/* Cart Widget style end */


/* Tab Section Reviews Style */
.woocommerce-Reviews h2.woocommerce-Reviews-title {
  color: var(--title-color);
  font-family: var(--font-suse);
  font-weight: 600;
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 0;
}

.woocommerce #reviews #comments ul {
  list-style: none;
}

.woocommerce #reviews #comments ul.comment {
  padding: 0;
}

.woocommerce #reviews #comments ul.comment li .comment_container img {
  float: left;
}

.woocommerce #reviews #comments ul.comment li {
  margin-bottom: 25px;
}

.woocommerce #reviews #comments ul.comment li img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
}

.woocommerce #reviews #comments ul.comment li .comment-text {
  margin: 0 0 0 70px;
  border: none;
  border-radius: 4px;
  padding: 0;
}

.woocommerce #reviews #comments ul.comment li .comment-text .star-rating {
  float: none;
  margin-bottom: 10px;
}

.woocommerce .shop-card .star-rating::before {
  font-size: 14px;
}

.woocommerce .star-rating span::before {
  color: #FE9A31;
}

.woocommerce #reviews #comments ul.comment li .comment-text p.meta {
  font-size: 0.83em;
  margin: 0;
}

.woocommerce #reviews #comments ul.comment li .comment-text p.meta strong.woocommerce-review__author {
  line-height: 1;
  margin-bottom: 0;
  color: var(--title-color);
  font-family: var(--font-kanit);
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.woocommerce-Reviews #review_form {
  border-radius: 10px;
}

.woocommerce-Reviews #review_form .comment-form {
  background: unset;
  border: unset;
  box-shadow: unset;
  padding: 0;
  border-radius: unset;
}

.woocommerce-Reviews #review_form span#reply-title {
  color: var(--title-color);
  font-family: var(--font-kanit);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 30px;
}

.woocommerce-Reviews #review_form .comment-form .nice-select {
  float: none;
  margin-bottom: 30px;
}

.woocommerce-Reviews #review_form .comment-form label {
  margin: 0;
  color: var(--title-color);
  font-family: var(--font-dm-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  display: block;
  clear: both;
  margin-bottom: 10px;
}

.woocommerce-Reviews #review_form .comment-form textarea,
.woocommerce-Reviews #review_form .comment-form input {
  background: var(--white-color);
  color: var(--title-color);
  font-family: var(--font-dm-sans);
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--borders-color);
  border-radius: 5px;
}

.woocommerce-Reviews #review_form .comment-form textarea {
  height: 120px !important;
}

.woocommerce #review_form #respond .form-submit input {
  font-family: var(--font-dm-sans);
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  border-radius: 0;
  background-color: var(--black-color);
  transition: all 0.6s;
  padding: 13px 25px;
  width: auto;
  min-width: 170px;
  transition: .5s;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: underline;
}

.woocommerce #review_form #respond .form-submit input:hover {
  color: var(--white-color);
  background-color: var(--primary-color1);
}

.woocommerce .shop-details-page .comment-respond .comment-form {
  margin-bottom: 0;
}

.woocommerce-Reviews #review_form .comment-form input#wp-comment-cookies-consent {
  height: auto;
  width: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.woocommerce-Reviews #review_form .comment-form p.comment-form-cookies-consent label {
  display: inline;
}

.woocommerce table.shop_attributes td {
  padding: 0 10px;
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
  background: var(--black-color);
  padding: 16px 27px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-dmsans);
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained:hover {
  background: var(--primary-color1);
}

.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
  background: var(--black-color);
  padding: 16px 27px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-dmsans);
}

.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained:hover {
  background: var(--primary-color1);
}

.wc-block-cart .wc-block-components-sale-badge,
.wc-block-cart .wc-block-components-product-metadata {
  display: none;
}

.wc-block-cart .wc-block-components-product-name {
  color: var(--title-color);
  font-family: var(--font-suse);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 10px;
}

.shop-details-page .product-details-content .product_title {
  color: var(--title-color);
  font-family: var(--font-suse);
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.shop-details-page .product-details-content .woocommerce-review-link {
  color: inherit;
}

.shop-details-page .product-details-content p {
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
}

.shop-details-page .product-details-content .product_meta span a {
  color: inherit;
}

.shop-details-page .product-details-content .woocommerce-grouped-product-list {
  margin-bottom: 30px;
}

.shop-details-page .product-details-content .woocommerce-grouped-product-list td label a {
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.product-details-content .shop-details-btn .primary-btn1>span {
  width: auto;
}

.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-order-summary__content span,
.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-order-summary__content h3.wc-block-components-product-name {
  color: var(--text-color);
  font-family: var(--font-dmsans);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-order-summary__content .wc-block-components-product-metadata,
.wp-block-woocommerce-cart .wp-block-woocommerce-empty-cart-block .wp-block-separator.has-alpha-channel-opacity,
.wp-block-woocommerce-cart .wp-block-woocommerce-empty-cart-block .wp-block-separator.has-alpha-channel-opacity+h2,
.wp-block-woocommerce-cart .wp-block-woocommerce-empty-cart-block .wc-block-product-new {
  display: none;
}

/*************** My account page style start ***************/
.woocommerce form.login,
.woocommerce form.register {
  max-width: 550px;
  margin: 0 auto;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  border: 1px solid var(--black-color);
  border-bottom: none;
  width: 100%;
  text-align: left;
  transition: all 0.42s ease;
  border-radius: 0;
  list-style: none;
  margin: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li:last-child {
  border-bottom: 1px solid var(--black-color);
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-outfit);
  padding: 15px 20px;
  color: var(--title-color);
  background: var(--white-color);
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
  color: var(--white-color);
  background-color: var(--primary-color1);
}

.woocommerce-account .woocommerce-MyAccount-content p strong,
.woocommerce-account .woocommerce-MyAccount-content p a,
.woocommerce table.my_account_orders a {
  color: var(--title-color);
}

.woocommerce table.my_account_orders a.woocommerce-button.button.pay,
.woocommerce table.my_account_orders a.woocommerce-button.button.cancel,
.woocommerce table.my_account_orders a.woocommerce-button.button.view {
  padding: 8px 20px;
  color: #fff;
  margin: 5px 0;
  font-size: 12px;
  background: #1F2230;
}

.woocommerce table.my_account_orders a.woocommerce-button.button.pay {
  background-color: green;
}

.woocommerce table.my_account_orders a.woocommerce-button.button.cancel {
  background-color: red;
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address {
  padding: 20px;
  margin-top: 20px;
  background-color: #f7f7f7;
}

.woocommerce-account .woocommerce-MyAccount-content form h2,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address header.woocommerce-Address-title.title h2 {
  color: var(--title-color);
  font-family: var(--font-outfit);
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5px;
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address header.woocommerce-Address-title a {
  float: none;
  color: var(--title-color);
  font-family: var(--font-outfit);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
}

.woocommerce form.woocommerce-EditAccountForm.edit-account input,
.woocommerce-account .woocommerce .woocommerce-address-fields__field-wrapper p input {
  border: 1px solid var(--black-color);
  color: var(--title-color);
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  line-height: 1;
  background-color: var(--white-color);
  border-radius: 0;
}

.woocommerce form.woocommerce-EditAccountForm.edit-account input:focus,
.woocommerce-account .woocommerce .woocommerce-address-fields__field-wrapper p input:focus {
  border: 1px solid #ddd;
}

.woocommerce form.woocommerce-EditAccountForm.edit-account label,
.woocommerce-account .woocommerce .woocommerce-address-fields__field-wrapper p label {
  font-size: 15px;
  font-family: var(--font-dm-sans);
  font-weight: 500;
  display: inline-block;
  color: var(--title-color);
  margin-bottom: 5px;
}

span#account_display_name_description {
  font-family: var(--font-dm-sans);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: var(--paragraph-color);
}

.woocommerce form.woocommerce-EditAccountForm.edit-account button.woocommerce-Button.button,
.woocommerce-account .woocommerce .woocommerce-address-fields button.button {
  font-family: var(--font-dm-sans);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: var(--white-color);
  background: var(--primary-color1);
  padding: 18px 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 20px;
}

.woocommerce form.woocommerce-EditAccountForm.edit-account button.woocommerce-Button.button:hover,
.woocommerce-account .woocommerce .woocommerce-address-fields button.button:hover {
  color: var(--white-color);
  background-color: var(--black-color);
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce .woocommerce-form-register .woocommerce-form-register__submit {
  font-family: var(--font-dm-sans);
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  border-radius: 5px;
  background-color: var(--primary-color1);
  transition: all 0.6s;
  padding: 13px 25px;
  white-space: nowrap;
  text-transform: uppercase;
  width: auto;
  min-width: 120px;
  transition: .5s;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,
.woocommerce .woocommerce-form-register .woocommerce-form-register__submit:hover {
  color: var(--white-color);
  background-color: var(--title-color);
}

.woocommerce .woocommerce-LostPassword a {
  color: var(--primary-color1);
}

.woocommerce .woocommerce-LostPassword a:hover {
  color: var(--title-color);
}

.page-content-wrapper .woocommerce h2 {
  text-align: center;
}

.wc-block-checkout-empty span.wp-block-button {
  display: none;
}

.matrik-cart-button-wrapper {
  position: relative;
}

.woocommerce a.added_to_cart {
  padding-top: 17px;
}

.shop-card .added_to_cart {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0%);
  background-color: rgb(240, 240, 240);
  width: 100%;
  border-radius: unset;
  padding: 17px 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-manrope);
  z-index: 55;
  color: var(--title-color);
  line-height: 1;
}

.shop-card .primary-btn4.added_to_cart {
  background-color: rgb(240, 240, 240);
  width: 100%;
  border-radius: unset;
  padding: 17px 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--title-color);
  line-height: 1;
}

.shop-details-page .variations_form .variations .nice-select {
  display: none;
}

.woocommerce div.product div.images,
.woocommerce-page div.product div.images {
  width: unset;
}

.shop-details-page .woocommerce-product-gallery .flex-viewport {
  margin-bottom: 30px;
}

.shop-details-page .woocommerce-product-gallery ol.flex-control-nav {
  display: flex;
  gap: 20px;
}

.woocommerce .shop-details-page div.product .woocommerce-product-gallery ol.flex-control-nav li {
  width: auto;
  float: none;
}

.custom-variation-options .eg-variation {
  display: flex;
  gap: 10px;
}

.variation-option.color-swatch {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 6px;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
}

.variation-option.color-swatch.selected::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--black-color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.variation-option:not(.color-swatch) {
  color: var(--title-color);
  font-family: var(--font-noto-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  padding: 6px 20px;
  border: 1px solid #eee;
  cursor: pointer;
  background: none;
  text-transform: uppercase;
}

.variation-option:not(.color-swatch).selected,
.variation-option:not(.color-swatch):hover {
  border-color: var(--black-color);
}

.woocommerce div.product form.cart div.quantity {
  float: none;
  margin-bottom: 30px;
}

.woocommerce div.product form.cart .shop-details-btn .primary-btn1.black-bg {
  margin-right: 20px;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled[disabled] {
  background-color: transparent;
  color: var(--title-color);
  border-radius: unset;
  padding: 19px 52px 19px 26px;
  border: 1px solid var(--black-color);
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled[disabled]:hover {
  background-color: var(--primary-color1);
}

.woocommerce .reviews-area .nice-select ul.list {
  background-color: #fff;
}

.woocommerce .reviews-area .review-form {
  background-color: var(--white-color);
  border: 1px solid var(--borders-color);
  box-shadow: 4px 3px 40px 0px rgba(16, 33, 34, 0.06);
  padding: 50px 40px;
  border-radius: 10px;
}

.woocommerce .shop-details-page .reviews-area .review-form .comment-respond span {
  text-decoration: none;
}

.woocommerce .shop-details-page .reviews-area .review-form .comment-form {
  margin-top: 20px;
}

.woocommerce .shop-details-page .reviews-area .review-form .comment-form .stars a {
  color: #acacac;
}

.woocommerce .shop-details-page .product form.cart {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--black-color);
}

.woocommerce .shop-details-page div.product div.images .flex-control-thumbs li img.flex-active {
  border: 1px solid var(--primary-color2);
}

.woocommerce .shop-details-page .product_meta span a {
  color: #868686;
  font-family: var(--font-manrope);
}

.woocommerce .shop-details-page .product-details-content .payment-method {
  padding: 17px 30px;
  border: 1px solid rgba(var(--black-color-opc), 0.1);
  max-width: 460px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.woocommerce .shop-details-page .product-details-content .payment-method h6 {
  color: var(--title-color);
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.48px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.woocommerce .shop-details-page .product-details-content .payment-method ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.woocommerce .shop-details-page .product-details-content .payment-method ul li img {
  min-width: 35px;
  max-width: 100%;
  height: auto;
}

.woocommerce div.product .woocommerce-tabs .panel p {
  color: var(--paragraph-color);
  font-family: var(--font-noto-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.wc-block-checkout .wc-blocks-components-select .wc-blocks-components-select__select,
.wc-block-checkout .wc-block-components-form .wc-block-components-text-input input[type="email"],
.wc-block-checkout .wc-block-components-form .wc-block-components-text-input input[type="number"],
.wc-block-checkout .wc-block-components-form .wc-block-components-text-input input[type="password"],
.wc-block-checkout .wc-block-components-form .wc-block-components-text-input input[type="tel"],
.wc-block-checkout .wc-block-components-form .wc-block-components-text-input input[type="text"],
.wc-block-checkout .wc-block-components-form .wc-block-components-text-input input[type="url"],
.wc-block-checkout .wc-block-components-text-input input[type="email"],
.wc-block-checkout .wc-block-components-text-input input[type="number"],
.wc-block-checkout .wc-block-components-text-input input[type="password"],
.wc-block-checkout .wc-block-components-text-input input[type="tel"],
.wc-block-checkout .wc-block-components-text-input input[type="text"],
.wc-block-checkout .wc-block-components-text-input input[type="url"],
.wc-block-checkout form input {
  border: 1px solid hsla(0, 0%, 7%, .11);
}

.woocommerce ul.order_details {
  margin: 0;
  padding: 0;
}

.woocommerce ul.order_details li {
  margin-bottom: 20px;
}

section.woocommerce-order-details table tr td a {
  color: inherit;
}

section.woocommerce-customer-details .woocommerce-column--billing-address {
  margin-bottom: 30px;
}